# This section configures the connection between the Datalogger tools and the Redmine instance which implements the requirements database
rm_server_url = 'http://log.cosmobots.eu/'	# The Redmine URL
rm_key_txt = 'yourapikey'			# The API key of the user (or bot) in which name the actions are undertaken.
rm_tracker_id = 1	# Tracker for Data series
rm_cfield_value = 1	# Custom field id of the value
rm_cfield_maxstatus = 5	# Custom field id of the max status
rm_cfield_minstatus = 4	# Custom field id of the min status
rm_cfield_min = 2	# Custom field id of the min value
rm_cfield_max = 3	# Custom field id of the max value
rm_cfield_mean = 6 # Custom field id of the mean value
rm_cfield_median = 7	# Custom field id of the median value
rm_cfield_samples = 8	# Custom field id of the number of samples in the series
rm_cfield_tstamp = 9	# Custom field id of the timestamp
rm_status_new_id = 1
rm_status_converted_id = 6
# Project specific settings
rm_project_id_str = 'pfeiffer-test'		# The ID of the Redmine project where the samples shall be stored
rm_cat_press1 = 1	# Category for press sensor #1
rm_cat_press2 = 2	# Category for prsss sensor #2
rm_cat_temp1 = 3	# Category for temp sensor #1
rm_cat_temp2 = 4	# Category for temp sensor #2
